dist
.DS_Store
*.log*
node_modules
.env
deepfocus.js
test-results
playwright-report

.vite/*
.vite/build
out
forge.config.ts 
Deep Focus.itmsp/
notarization_log.txt
3rdPartyMacDeveloperInstaller.p12
distribution.provisionprofile
development.provisionprofile