dist
out
.DS_Store
*.log*
node_modules
.env
deepfocus.js
test-results
playwright-report
build_assets/Certificates.p12
build_assets/CertificatesDist.p12
build_assets/DeveloperIDInstaller.p12

Mac OS X Provisioning Profile Signing.cer
electron-builder.yml